/* --------------------- 
FONTS CONNECTION
--------------------- */
@font-face {
  font-family: 'pfdintextcomppro-regular-webfont';
  src: url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-regular-webfont.ttf')  format('truetype'), 
    url('../fonts/pfdintextcomppro-regular-webfont.svg#pfdintextcomppro-regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdintextcomppro-thin-webfont';
  src: url('../fonts/pfdintextcomppro-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-thin-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-thin-webfont.ttf')  format('truetype'), 
    url('../fonts/pfdintextcomppro-thin-webfont.svg#pfdintextcomppro-thin-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pfdintextcomppro-xthin-webfont';
  src: url('../fonts/pfdintextcomppro-xthin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-xthin-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-xthin-webfont.ttf')  format('truetype'), 
    url('../fonts/pfdintextcomppro-xthin-webfont.svg#pfdintextcomppro-xthin-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinnextltpro-regular-webfont';
  src: url('../fonts/dinnextltpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dinnextltpro-regular-webfont.woff') format('woff'),
    url('../fonts/dinnextltpro-regular-webfont.ttf')  format('truetype'), 
    url('../fonts/dinnextltpro-regular-webfont.svg#dinnextltpro-regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dinnextltpro-medium-webfont';
  src: url('../fonts/dinnextltpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dinnextltpro-medium-webfont.woff') format('woff'),
    url('../fonts/dinnextltpro-medium-webfont.ttf')  format('truetype'), 
    url('../fonts/dinnextltpro-medium-webfont.svg#dinnextltpro-medium-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'DINPro-Light';
  src: url('../fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/DINPro-Light.woff') format('woff'), 
       url('../fonts/DINPro-Light.ttf')  format('truetype'), 
       url('../fonts/DINPro-Light.svg#DINPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


